<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>MVCDemo</display-name>
  <servlet>
    
    <servlet-name>LoginController</servlet-name>
    <servlet-class>mvcdemo.controllers.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>